:root {
    --main-color: #fff;
    --accent-color-first: #FFBE0B;
    --bg-color: #0E0E2C;
    --accent-color-second: #3A86FF;
    --add-color: #868695;
}

/* * {
    background-color: var(--bg-color);
} */


