:root {
  --main-color: #fff;
  --accent-color-first: #ffbe0b;
  --bg-color: #0e0e2c;
  --accent-color-second: #3a86ff;
  --add-color: #868695;
  --add-accent-color: #172656;
}

body {
  background-color: var(--bg-color);
}

.section-title {
  color: var(--main-color);
  font-size: 48px;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

p {
  color: var(--add-color);
  line-height: 1.8;
}

.section-item-title {
  color: var(--main-color);
  font-size: 20px;
  line-height: 1.3;
}

.navigation-link {
  color: var(--main-color);
  line-height: 1.8;
}

.section-subtitle {
  background-color: var(--add-accent-color);
  color: var(--accent-color-second);
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.05px;
}

.hero-title {
  color: var(--main-color);
    font-size: 62px;
    line-height: 1.3;
}

.hero-form-btn {
  border-radius: 10px;
    background: var(--accent-color-first);
    color: var(--bg-color);
      font-size: 16px;
      font-weight: 600;
      line-height: 1.8;
}

.hero-wrapper-text {
  color: var(--main-color);
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1.05px;
}

.try-free-btn {
  border-radius: 10px;
  background: var(--accent-color-first);
  color: var(--bg-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.8;
}

.sign-in-btn {
  border-radius: 10px;
  border: 1px solid var(--accent-color-first);
  color: var(--accent-color-first);
font-size: 16px;
  line-height: 1.8;
}

.sevices-product-amount {
  color: var(--accent-color-first);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
}

.services-download-amount {
  color: #fb5607;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
}

.footer-title {
  color: var(--main-color);
  text-align: center;
  font-size: 48px;
  line-height: 1.3;
}

.footer-btn {
  border-radius: 10px;
  background-color: var(--accent-color-first);
  color: var(--bg-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8;
}
